Enhance CoRE link format parsing.

Currently the CoRE link format parsing is probably too permissive, see : 
- #1020 
- TODO in [Link](https://github.com/eclipse/leshan/blob/6aebf47543d4bd03e1cac70204749c94f2dfe8e1/leshan-core/src/main/java/org/eclipse/leshan/core/Link.java#L29) class

We should maybe refactor this part of the code. 

If we become more strict we probably need a way to let users provide a custom parser or any other way/HACK to support badly implemented client. 

This issue aims to centralize discussion/issue about this. 

The current parser starts out by splitting on commas, which RFC 6690 makes the point to mention is not right:

> Note that commas can also occur in quoted strings and URIs but do not end a description.

@weinholt thx for pointing this :pray: 

If you have some motivation about working on this, please do not hesitate. 

According to https://datatracker.ietf.org/doc/html/rfc6690#section-2 especially in "link-param" / "link-extension" I don't see possibility to create parameter without value. However the test ```LinkObjectTest.parse_with_some_attributes()``` creates link from ```</2/1> ;empty``` string and check for attribute "empty" with no value.
I missed something in spec or this part of test is wrong?

I looked at the RFC quickly and I didn't see anything about creating parameter without value too.
So at first sight I would say that the test seems wrong. 

The space in `</2/1> ;empty` seems wrong, there shouldn't be any whitespace. But isn't `empty` a link-extension? The link-extension rule is as follows:

```abnf
link-extension = ( parmname [ "=" ( ptoken / quoted-string ) ] )
               / ( ext-name-star "=" ext-value )
```

The part within `[]` is optional: <https://datatracker.ietf.org/doc/html/rfc5234#section-3.8>. I could be reading it wrong, but I think `empty` can go into the `parmname` part.

@weinholt - I think you're right, square brackets are optional so the value is not mandatory. Thanks for help :smile: 

@weinholt thanks for putting us back on the right way :)

@Michal-Wadowski, I guess we should but as I said we should also : 

> If we become more strict we probably need a way to let users provide a custom parser or any other way/HACK to support badly implemented client.

@Michal-Wadowski, Do you think it makes sense ? 

@sbernard31, I think it's hard to define border where we allow or forbid non-standard behaviour. But I think we can fix this issue just making parser made from many components (methods?) that user can overwrite by own implementation. It should have also some parser factory to allow user switch between implementations. I'm working on it :smile: 

> I think it's hard to define border where we allow or forbid non-standard behavior.

I agree with that.
At the beginning of the project, I think we try to follow more or less the robustness principal : "be conservative in what you send, be liberal in what you accept". 

But as we are an open source project which is often used to test other implementation, "being liberal in what you accept" seems to not help enough to detect implementation which does not respect standard. 
That's why now  we move to something more like : " be conservative with what you send/accept but make the code flexible enough to let user deal with reel world".

About the way to be flexible enough, I would privilege an Interface with a default implementation and let user be able to provide its own implementation if possible.  If we face this solution as too many drawback we can talk about this drawback and see if we can find solution or switch to another one. Does it sounds a good plan ? 

>  I would privilege an Interface with a default implementation and let user be able to provide its own implementation if possible

Ok, we can tray

@Michal-Wadowski, I don't know if you see that but there is a [**TODO** in the `Link`](https://github.com/eclipse/leshan/blob/6aebf47543d4bd03e1cac70204749c94f2dfe8e1/leshan-core/src/main/java/org/eclipse/leshan/core/Link.java#L29) class with listed issues.
I'm not sure all issues listed are real one and if all solutions listed are the good one but you should probably look at this to have the big picture in mind. 

Yes, I saw it and I take it into account.

According https://datatracker.ietf.org/doc/html/rfc2616#section-2.2 within ```quoted-string``` we can use ```quoted-pair```. I think the purpose of this is allow to use ```"``` and ```\``` characters inside ```quoted-string```. So after parsing this kind of ```quoted-string``` we should finally consume extra backslash characters? I mean if we have ```quoted-string```: ```"hello\\w\"o\"rld"``` that Link object should have attribute value ```"hello\w"o"rld"``` ?

What is purpose of test: "test_object_links_with_regexp_rootpath" ? As far I understand path like ```/r(\d+)oot``` isn't valid URI-Reference format. This test doesn't check special Leshan functionality?

I made first (and dirty) version of enhanced CoRE link parser in https://github.com/Przem83/leshan/tree/opl/enhance_core_link 

If that new rules are ok, I'll clean the code and make one more customizable.

> What is purpose of test: "test_object_links_with_regexp_rootpath" ? 

Not so long time ago, we had some registration parsing based on regexp. 
I think the idea of this test was to be sure that it was not possible to inject some bad behavior with regexep.
Now we do not used regexp anymore. 
(see commit https://github.com/eclipse/leshan/commit/7ba642aab3ad40badcea86511dbbc31e0c364a74)

> This test doesn't check special Leshan functionality?

I don't think so. (this test can be removed if needed)

> As far I understand path like /r(\d+)oot isn't valid URI-Reference format. 

I didn't check in detail but it's totally possible, before there was not check at all about `URI-Reference` format. 

> According https://datatracker.ietf.org/doc/html/rfc2616#section-2.2 within quoted-string we can use quoted-pair. I think the purpose of this is allowing to use " and \ characters inside quoted-string. So after parsing this kind of quoted-string we should finally consume extra backslash characters? I mean if we have quoted-string: "hello\\w\"o\"rld" that Link object should have attribute value "hello\w"o"rld" ?

I understand the same thing. 

------------------------------
I guess there is many many rules about parsing Link format, my feeling is we should not specially support all of them. Because this could be too complex for not so much benefits. Do you share this idea ? 

If yes, we should  limit ourself to a minimal identified subset which is fine enough for LWM2M. (better to be too restrictive and add missing rule later if needed)
I guess what we keep or skip should be documented in the javadoc, so we know what we try to do and so expected behavior.

> I made first (and dirty) version of enhanced CoRE link parser in https://github.com/Przem83/leshan/tree/opl/enhance_core_link

Could you push this as a PR (you can make it a draft if you want) because it is easier to fetch/review it as a PR.

> > I made first (and dirty) version of enhanced CoRE link parser in https://github.com/Przem83/leshan/tree/opl/enhance_core_link
> 
> Could you push this as a PR pray (you can make it a draft if you want) because it is easier to fetch/review it as a PR.

Here you are: #1098

I tried to identified the subset ABNF we need to support for LWM2M. (meaning I removed some part of the grammar)
This could be used as specification and also documentation for this feature.

My first try is : 

From RFC6690 (https://datatracker.ietf.org/doc/html/RFC6690#section-2)
```
Link            = link-value-list
link-value-list = [ link-value *[ "," link-value ]]
link-value     = "<" URI-Reference ">" *( ";" link-param )
link-param = link-extension
link-extension = ( parmname [ "=" ( ptoken / quoted-string ) ] )
ptoken         = 1*ptokenchar
ptokenchar     = "!" / "#" / "$" / "%" / "&" / "'" / "("
                   / ")" / "*" / "+" / "-" / "." / "/" / DIGIT
                   / ":" / "<" / "=" / ">" / "?" / "@" / ALPHA
                   / "[" / "]" / "^" / "_" / "`" / "{" / "|"
                   / "}" / "~"
```

From RFC3986 (https://datatracker.ietf.org/doc/html/rfc3986#appendix-A)

```
URI-reference = relative-ref

relative-ref  = relative-part
relative-part = "/ path-absolute
                 / path-empty

path-absolute = "/" [ segment-nz *( "/" segment ) ]   ; begins with "/" but not "//"
path-empty    = 0<pchar>                              ; zero characters

segment       = *pchar
segment-nz    = 1*pchar


pchar         = unreserved / pct-encoded / sub-delims / ":" / "@"
pct-encoded   = "%" HEXDIG HEXDIG
unreserved    = ALPHA / DIGIT / "-" / "." / "_" / "~"
sub-delims    = "!" / "$" / "&" / "'" / "(" / ")"
             / "*" / "+" / "," / ";" / "="
```             
             
From RFC5987 (https://datatracker.ietf.org/doc/html/rfc5987#section-3.2.1)
```
parmname      = 1*attr-char
attr-char     = ALPHA / DIGIT
                   / "!" / "#" / "$" / "&" / "+" / "-" / "."
                   / "^" / "_" / "`" / "|" / "~"
                   ; token except ( "*" / "'" / "%" )
```
From RFC2616 (https://datatracker.ietf.org/doc/html/rfc2616#section-2.2)
```
quoted-string  = ( <"> *(qdtext | quoted-pair ) <"> )
qdtext         = <any TEXT except <">>
quoted-pair    = "\" CHAR
```

@Michal-Wadowski, @weinholt  Does it seems good start to you ?  (maybe the `pchar` part could be simplified)

@sbernard31 It makes sense for me, I like it. Where the specification / documentation should be placed?

I think there is an typo in RFC3986 part:

> ```
> relative-part = "/ path-absolute
>                  / path-empty
> ```

Do you mean there should be just path-absolute or path-empty and the ```"/``` is just typo?


And are you sure that we should accept empty path? What is the meaning for Leshan?

> Where the specification / documentation should be placed?

I guess in the `Link` class javadoc.
But as the code will be splited in several classes (Serializer/Parser), maybe the question is in which of those classes?
Maybe in Parser ? (but I guess it also make sense in Serializer ?)
Or we keep it in `Link` Javadoc and just refer to this javadoc in other classes. 

> Do you mean there should be just path-absolute or path-empty and the "/ is just typo?

Yes bad copy/paste/remove :sweat_smile:. I fixed it in previous comment. 

> And are you sure that we should accept empty path? What it means for Leshan?

I was thinking at root path but in the specification it is always noted `</>`
And so maybe you're right we don't need empty path. I removed it. 



About : 
> path-absolute = "/" [ segment-nz *( "/" segment ) ]   ; begins with "/" but not "//"

I understand that `//` is not allowed at the begining but could happened in the middle. 
Meaning that : `/3//0` is allowed. 

I"m not sure to get the point.
I try to read : https://datatracker.ietf.org/doc/html/rfc3986#section-3.3 but still not clear.

This is maybe just allowed and is equivalent to `/3/0`.

Looking at this, the question about path normalization came to me. (see https://datatracker.ietf.org/doc/html/rfc3986#section-6.2)
I don't know if we need to support it ? I'm somewhere in the middle as I feel this should be supported but in a meantime I feel this will be almost never used...

There is also the possibility to delegate all the URI-reference part to the **java.net.URI** (or maybe just the normalization)
But it seems this does implements exactly the same RFC. (the javadocs talks about RFC2396 instead of RFC3986.

> There is also the possibility to delegate all the URI-reference part to the **java.net.URI**

Yes, I did exactly that in PR #1098. The java.net.URI was initially good for validation, but finally doesn't meet our requirements. Also java URI supports many options that we don't need so I think it's not best candidate for URI-reference.
Currently I keep URI-reference just as String field but maybe we should switch to our class. The good reason is that if we create Link, probably we should also validate URI-reference before create. If Link would have UriReference class field, then we could move validation logic there. UriReference could be used while parsing and while creating Link.

> So either we keep this issue to track them or we create a new one ?

Definitely should we create new one. It will be much better to follow what happen.