Leshan doesn't respect CoAP tokens

Lesahn doesn't respect section 5.2 from RFC7252:
https://tools.ietf.org/html/rfc7252#section-5.3

In case of response to the "duplicated" request Leshan can include token from some elder request to the current response. Here is Leshan log:

> 2019-06-03 19:31:33,617 DEBUG EventServlet - Dispatching DEREGISTRATION event from endpoint urn:imei:354658090100980
2019-06-03 19:31:39,666 DEBUG SweepDeduplicator$SweepAlgorithm - Sweep run took 0ms
2019-06-03 19:31:46,279 DEBUG UDPConnector$Receiver - UDPConnector (0.0.0.0/0.0.0.0:5683) received 439 bytes from /172.22.225.2:49153
2019-06-03 19:31:46,280 DEBUG RegisterResource - POST received : CON-POST   MID=53139, Token=[93cfa175], OptionSet={"Uri-Path":"rd", "Content-Format":"application/link-format", "Uri-Query":["lwm2m=1.0","ep=urn:imei:354658090100980","sms=+11296929753","b=UQS","lt=30"]}, "</>;rt="oma.lwm2m";ct=11".. 356 bytes
2019-06-03 19:31:46,281 DEBUG RegistrationHandler - New registration: Registration [registrationDate=Mon Jun 03 19:31:46 EEST 2019, identity=Identity /172.22.225.2:49153[unsecure], registrationEndpoint=0.0.0.0/0.0.0.0:5683, lifeTimeInSec=30, smsNumber=+11296929753, lwM2mVersion=1.0, bindingMode=UQS, endpoint=urn:imei:354658090100980, registrationId=UjCfwr1ROT, objectLinks=[</>;ct=11543;rt="oma.lwm2m", </1/0>, </2>, </3/0>, </4/0>, </5/0>, </6/0>, </7/0>, </15/0>, </16/0>, </16/1>, </19/0>, </19/1>, </3200/0>, </3201/0>, </3202/0>, </3203/0>, </3300/0>, </3301/0>, </3302/0>, </3303/0>, </3304/0>, </3305/0>, </3306/0>, </3308/0>, </3310/0>, </3311/0>, </3312/0>, </3313/0>, </3314/0>, </3315/0>, </3316/0>, </3316/1>, </3316/2>, </3316/3>, </10299/0>, </10299/1>], lastUpdate=Mon Jun 03 19:31:46 EEST 2019]
2019-06-03 19:31:46,281 DEBUG ReliabilityLayer - Exchange[R29] send response null-2.01   MID=   -1, Token=null, OptionSet={"Location-Path":["rd","UjCfwr1ROT"]}, no payload, failed transmissions: 0
2019-06-03 19:31:46,282 DEBUG Exchange - Exchange[R29, complete]!
2019-06-03 19:31:46,282 DEBUG Exchange - Remote Exchange[R29, complete] completed ACK-2.01   MID=53139, Token=[93cfa175], OptionSet={"Location-Path":["rd","UjCfwr1ROT"]}, no payload!
2019-06-03 19:31:46,282 DEBUG EventServlet - Dispatching AWAKE event from endpoint urn:imei:354658090100980
2019-06-03 19:31:46,282 DEBUG UDPConnector$Sender - UDPConnector (Thread[UDP-Sender-0.0.0.0/0.0.0.0:5683[0],5,Californium/Elements]) sent 22 bytes to /172.22.225.2:49153
2019-06-03 19:31:46,284 DEBUG EventServlet - Dispatching REGISTRATION event from endpoint urn:imei:354658090100980
2019-06-03 19:31:49,666 DEBUG SweepDeduplicator$SweepAlgorithm - Sweep run took 0ms
2019-06-03 19:31:59,667 DEBUG SweepDeduplicator$SweepAlgorithm - Sweep run took 0ms
2019-06-03 19:32:06,653 DEBUG UDPConnector$Receiver - UDPConnector (0.0.0.0/0.0.0.0:5683) received 91 bytes from /172.22.225.2:49153
2019-06-03 19:32:06,653 DEBUG RegisterResource - POST received : CON-POST   MID=53140, Token=[94cfb575], OptionSet={"Uri-Path":["rd","UjCfwr1ROT"], "Uri-Query":["lwm2m=1.0","ep=urn:imei:354658090100980","sms=+11296929753","b=UQS","lt=30"]}, no payload
2019-06-03 19:32:06,654 DEBUG RegistrationHandler - Updated registration org.eclipse.leshan.server.registration.UpdatedRegistration@28d07d60 by RegistrationUpdate [registrationId=UjCfwr1ROT, identity=Identity /172.22.225.2:49153[unsecure], lifeTimeInSec=30, smsNumber=+11296929753, bindingMode=UQS, objectLinks=null]
2019-06-03 19:32:06,654 DEBUG ReliabilityLayer - Exchange[R30] send response null-2.04   MID=   -1, Token=null, OptionSet={}, no payload, failed transmissions: 0
2019-06-03 19:32:06,654 DEBUG Exchange - Exchange[R30, complete]!
2019-06-03 19:32:06,654 DEBUG Exchange - Remote Exchange[R30, complete] completed ACK-2.04   MID=53140, Token=[94cfb575], OptionSet={}, no payload!
2019-06-03 19:32:06,654 DEBUG UDPConnector$Sender - UDPConnector (Thread[UDP-Sender-0.0.0.0/0.0.0.0:5683[0],5,Californium/Elements]) sent 8 bytes to /172.22.225.2:49153
2019-06-03 19:32:06,655 DEBUG EventServlet - Dispatching UPDATED event from endpoint urn:imei:354658090100980
2019-06-03 19:32:09,668 DEBUG SweepDeduplicator$SweepAlgorithm - Sweep run took 0ms
2019-06-03 19:32:10,708 DEBUG EventServlet - Dispatching SLEEPING event from endpoint urn:imei:354658090100980
2019-06-03 19:32:19,668 DEBUG SweepDeduplicator$SweepAlgorithm - Sweep run took 0ms
2019-06-03 19:32:29,669 DEBUG SweepDeduplicator$SweepAlgorithm - Sweep run took 0ms
2019-06-03 19:32:36,113 DEBUG UDPConnector$Receiver - UDPConnector (0.0.0.0/0.0.0.0:5683) received 439 bytes from /172.22.225.2:49153
2019-06-03 19:32:36,113 DEBUG UdpMatcher - duplicate request: CON-POST   MID=53139, Token=[93cfd275], OptionSet={"Uri-Path":"rd", "Content-Format":"application/link-format", "Uri-Query":["lwm2m=1.0","ep=urn:imei:354658090100980","sms=+11296929753","b=UQS","lt=30"]}, "</>;rt="oma.lwm2m";ct=11".. 356 bytes
2019-06-03 19:32:36,114 DEBUG ReliabilityLayer - Exchange[R29] respond with the current response to the duplicate request
2019-06-03 19:32:36,114 DEBUG Exchange - Exchange[R29, complete]!
2019-06-03 19:32:36,114 DEBUG Exchange - Remote Exchange[R29, complete] completed ACK-2.01   MID=53139, Token=[93cfa175], OptionSet={"Location-Path":["rd","UjCfwr1ROT"]}, no payload!
2019-06-03 19:32:36,114 DEBUG UDPConnector$Sender - UDPConnector (Thread[UDP-Sender-0.0.0.0/0.0.0.0:5683[0],5,Californium/Elements]) sent 22 bytes to /172.22.225.2:49153
2019-06-03 19:32:37,617 DEBUG EventServlet - Dispatching DEREGISTRATION event from endpoint urn:imei:354658090100980
2019-06-03 19:32:39,670 DEBUG SweepDeduplicator$SweepAlgorithm - Sweep run took 0ms
2019-06-03 19:32:49,670 DEBUG SweepDeduplicator$SweepAlgorithm - Sweep run took 0ms
2019-06-03 19:32:49,960 DEBUG UDPConnector$Receiver - UDPConnector (0.0.0.0/0.0.0.0:5683) received 439 bytes from /172.22.225.2:49153
2019-06-03 19:32:49,960 DEBUG UdpMatcher - duplicate request: CON-POST   MID=53140, Token=[94cfe075], OptionSet={"Uri-Path":"rd", "Content-Format":"application/link-format", "Uri-Query":["lwm2m=1.0","ep=urn:imei:354658090100980","sms=+11296929753","b=UQS","lt=30"]}, "</>;rt="oma.lwm2m";ct=11".. 356 bytes
2019-06-03 19:32:49,961 DEBUG ReliabilityLayer - Exchange[R30] respond with the current response to the duplicate request
2019-06-03 19:32:49,961 DEBUG Exchange - Exchange[R30, complete]!
2019-06-03 19:32:49,961 DEBUG Exchange - Remote Exchange[R30, complete] completed ACK-2.04   MID=53140, Token=[94cfb575], OptionSet={}, no payload!
2019-06-03 19:32:49,962 DEBUG UDPConnector$Sender - UDPConnector (Thread[UDP-Sender-0.0.0.0/0.0.0.0:5683[0],5,Californium/Elements]) sent 8 bytes to /172.22.225.2:49153


Pay attention, that here:

> 2019-06-03 19:32:36,113 DEBUG UDPConnector$Receiver - UDPConnector (0.0.0.0/0.0.0.0:5683) received 439 bytes from /172.22.225.2:49153
2019-06-03 19:32:36,113 DEBUG UdpMatcher - duplicate request: CON-POST   MID=53139, Token=[93cfd275], OptionSet={"Uri-Path":"rd", "Content-Format":"application/link-format", "Uri-Query":["lwm2m=1.0","ep=urn:imei:354658090100980","sms=+11296929753","b=UQS","lt=30"]}, "</>;rt="oma.lwm2m";ct=11".. 356 bytes
2019-06-03 19:32:36,114 DEBUG ReliabilityLayer - Exchange[R29] respond with the current response to the duplicate request
2019-06-03 19:32:36,114 DEBUG Exchange - Exchange[R29, complete]!
2019-06-03 19:32:36,114 DEBUG Exchange - Remote Exchange[R29, complete] completed ACK-2.01   MID=53139, Token=[93cfa175], OptionSet={"Location-Path":["rd","UjCfwr1ROT"]}, no payload!

Leshan respond to request (Token=[93cfd275]) with response (Token=[93cfa175]). And that violates RFC7252.


Finally found that this seems to be a bug in californium. Can anyone help to build leshan with custom californium? I'm not familiar with Java at all...

You're right this is a CoAP/Californium question, but I don't see any issue here.

The duplicate detection is based on Message ID only.
The [RFC 7252 ](https://tools.ietf.org/html/rfc7252#section-4.5) says that : 
>  A recipient might receive the same Confirmable message (as indicated
   by the Message ID and source endpoint) multiple times within the
   EXCHANGE_LIFETIME (Section 4.8.2), for example, when its
   Acknowledgement went missing or didn't reach the original sender
   before the first timeout.  The recipient SHOULD acknowledge each
   duplicate copy of a Confirmable message using the same
   Acknowledgement or Reset message

In your case the client reuse same MID in less then EXCHANGE_LIFETIME (~247s).
See : 
```
2019-06-03 19:31:46,280 DEBUG RegisterResource - POST received : CON-POST MID=53139, Token=[93cfa175], OptionSet={"Uri-Path":"rd", "Content-Format":"application/link-format", "Uri-Query":["lwm2m=1.0","ep=urn:imei:354658090100980","sms=+11296929753","b=UQS","lt=30"]}, "</>;rt="oma.lwm2m";ct=11".. 356 bytes
... ...
2019-06-03 19:32:36,113 DEBUG UdpMatcher - duplicate request: CON-POST MID=53139, Token=[93cfd275], OptionSet={"Uri-Path":"rd", "Content-Format":"application/link-format", "Uri-Query":["lwm2m=1.0","ep=urn:imei:354658090100980","sms=+11296929753","b=UQS","lt=30"]}, "</>;rt="oma.lwm2m";ct=11".. 356 bytes
```
So the same Acknowledgement message is used with token of the first request.
```
2019-06-03 19:32:36,114 DEBUG Exchange - Remote Exchange[R29, complete] completed ACK-2.01 MID=53139, Token=[93cfa175], OptionSet={"Location-Path":["rd","UjCfwr1ROT"]}, no payload!
```

So it sounds good to me !

I still think, that we have bug in californium here. RFC 7252 explicitly says, that Token and MID differs and have different usage:

> 5.2.  Responses
   After receiving and interpreting a request, a server responds with a
   CoAP response that is matched to the request by means of a client-
   generated token (Section 5.3); note that this is different from the
   Message ID that matches a Confirmable message to its Acknowledgement.

So, from my POV, californium should respond with the same Acknowledgement, but take token from current message.

Does it make sense for you? 


However, we really fave bug with random in our client, thanks for the tip.

I don't think so, for reason I exposed above. (https://github.com/eclipse/leshan/issues/697#issuecomment-498600026): Deduplication is only based on MID/source endpoint.

FMPOV, if there is a "bug", this is at client side. Same "Message ID and source endpoint" MUST NOT be reused for different messages with in EXCHANGE_LIFETIME(247 by default) seconds.

Maybe @boaks, most active commiter on californium project have a different opinion ?

> So, from my POV, californium should respond with the same Acknowledgement, but take token from current message.
> 
> Does it make sense to you?

Though the client violates RFC7252 and sends a modified message with the same MID within the EXCHANGE_LIFETIME, the outcome is "undefined".

I don't see any reason, why the client should resend any of these registration messages.

`2019-06-03 19:32:06,653 DEBUG RegisterResource - POST received : CON-POST MID=53140, Token=[94cfb575], OptionSet={"Uri-Path":["rd","UjCfwr1ROT"], "Uri-Query":["lwm2m=1.0","ep=urn:imei:354658090100980","sms=+11296929753","b=UQS","lt=30"]}, no payload`

indicates, that the ack/response for `MID=53139, Token=[93cfa175]` was received, so why does the client resend the messages at all?

> Though the client violates RFC7252 and sends a modified message with the same MID within the EXCHANGE_LIFETIME, the outcome is "undefined".

Yes, I'll agree with that. I just still think this is "nice to have" (mean to copy token regardless to the MID problems on client side). But anyway, I consider this as closed for me.

Thank you very much for the help!

Just to mention:
The current RFC7252 deduplication , based on MID and address:port, has also some real-world weakness, if NATs are on the path, see https://github.com/eclipse/californium/issues/837.
From the past, if you use "blockwise" and restart with a random MID, usually done in the firmware update, you get also a mess.

Therefore for now:
Check the token of the response, if it's wrong, just ignore the response and pause for 246s :-).

