Data Value in SenML format is not encoded in URL-safe way

Paragraph _4.3. SenML Labels_ of [SenML specification](https://www.rfc-editor.org/rfc/rfc8428.html#section-4.3) that describes all possible SenML fields tells us that: 

> Data Value is a base64-encoded string with the URL-safe alphabet as defined in Section 5 of [RFC4648], with padding omitted.

In Leshan we only use Data Value (`vd`) field for representing OPAQUE format, specifically in `SenMLJsonRecordSerDes` class, but we encode the data into a URL-unsafe string. The fix is really simple and involves changing one line of code:

`jsonObj.put("vd", Base64.encodeBase64String(record.getOpaqueValue()));`

into

`jsonObj.put("vd", Base64.encodeBase64URLSafeString(record.getOpaqueValue()));`

Good catch, It seems you totally right. 
We should fix this, do you plan to create a PR ? 

I didn't look at this but I guess this only affect decoding ?

> I didn't look at this but I guess this also affect decoding ?

There's only one method for decoding, namely `Base64.decodeBase64`, but it takes care of both URL safe and unsafe format. Just to be sure I wrote a little test that encodes every possible byte value:

```java
byte[] sourceData = new byte[256];

int index = 0;
for(int val = -128; val < 128; val++) {
    sourceData[index++] = (byte) val;
}

String base64UrlUnsafe = Base64.encodeBase64String(sourceData);
String base64UrlSafe = Base64.encodeBase64URLSafeString(sourceData);

byte[] base64UrlUnsafeDecoded = Base64.decodeBase64(base64UrlUnsafe);
byte[] base64UrlSafeDecoded = Base64.decodeBase64(base64UrlSafe);

assertArrayEquals(sourceData, base64UrlUnsafeDecoded);
assertArrayEquals(sourceData, base64UrlSafeDecoded);
```

and decoding indeed works fine for both cases.

> There's only one method for decoding, namely Base64.decodeBase64, but it takes care of both URL safe and unsafe format.

I would prefer that  we didn't accept unsafe format by default.
But not the first time we face limitation about current Base64 implementation. 
See :  https://github.com/eclipse/leshan/issues/678 and especially https://github.com/eclipse/leshan/pull/676#issuecomment-481188756

I see there is a `isbase64()` method and `isUrlSafe()` maybe we can use it. 

Maybe it's good time to consider to use something else for base64 ?
I saw there is a `Base64` class since java 8. 
We didn't used so far because we was targeting java 7.
I don't know if this class fit out needs. 

> I saw there is a Base64 class since java 8.

There is such a class indeed and it works a bit differently than our custom one, as in you have to explicitly declare in which mode you will encode **and decode**, like `Base64.getEncoder()` or `Base64.getUrlEncoder()`, same for decoders. I guess this works for your idea:

> I would prefer that we didn't accept unsafe format by default.

although to be honest I don't exactly know what you meant by that. Anyway the native class seems like a good substitute, though the encoding is a bit different than in our custom class when using URL safe encoding. I wrote a test to showcase this behavior:
```Java
byte[] toEncode = "Hello World! �".getBytes(StandardCharsets.UTF_8);

String encodedUnsafeCustom = org.eclipse.leshan.core.util.Base64.encodeBase64String(toEncode);
String encodedUnsafeJava = java.util.Base64.getEncoder().encodeToString(toEncode);

String encodedSafeCustom = org.eclipse.leshan.core.util.Base64.encodeBase64URLSafeString(toEncode);
String encodedSafeJava = java.util.Base64.getUrlEncoder().encodeToString(toEncode);

System.out.println("Encoded Unsafe Custom:\t" + encodedUnsafeCustom);
System.out.println("Encoded Unsafe Java:\t" + encodedUnsafeJava);

System.out.println("\nEncoded Safe Custom:\t" + encodedSafeCustom);
System.out.println("Encoded Safe Java:\t\t" + encodedSafeJava);
```
It outputs the following:
```
Encoded Unsafe Custom:	SGVsbG8gV29ybGQhIO+/vQ==
Encoded Unsafe Java:	SGVsbG8gV29ybGQhIO+/vQ==

Encoded Safe Custom:	SGVsbG8gV29ybGQhIO-_vQ
Encoded Safe Java:	SGVsbG8gV29ybGQhIO-_vQ==
```
So it seems that it's almost the same except our custom URL-safe encoding lacks the padding at the end, though neither the native decoder nor the custom one seem to care about that.

I looked at the use of our `Base64` class and it seems we might as well replace it with the native Java one if that's what you want to do.

Thanks for investigations :pray: 

> >  I would prefer that we didn't accept unsafe format by default.

>  although to be honest I don't exactly know what you meant by that.

I mean that we only strictly accept what it is defined in specification. 
Eg. if UrlSafe format is expected and UrlUnsafe format should not be accepted and an exception must be raised (like CodecException.

> I looked at the use of our Base64 class and it seems we might as well replace it with the native Java one if that's what you want to do.

Before to do that I would like to know more about how it behave with case I described there : https://github.com/eclipse/leshan/pull/676#issuecomment-481188756

Could you investigate this too ? 

> Eg. if UrlSafe format is expected and UrlUnsafe format should not be accepted and an exception must be raised (like CodecException.

In some cases the class raises an `IllegalArgumentException`, though not for all that we would want. I tested the four cases that you mentioned.

> 1. rejects url safe alphabet : A-BB should be rejected (the good one is A+BB)

That one works fine - URL-unsafe decoder rejects `A-BB` and URL-safe decoder rejects `A+BB`

> 2. rejects invalid character : 'A+B;B! should be rejected

Works for both decoders.

> 3. rejects 1 bit in padding : ABC= should be rejected (the canonical form is ABA=)

The decoders have have loose policy when it comes to padding and they don't reject the first input.

> 4. rejects missing padding character : ABA should be rejected (missing pad char ABA=)

Same as above, the missing padding doesn't seem to matter.

I'm a bit frustrated about how padding is managed ...

Note that  [Sensor Measurement Lists (SenML) - RFC8428](https://www.rfc-editor.org/rfc/rfc8428#section-4.3) says : 
> (*) Data Value is a base64-encoded string with the URL-safe alphabet as defined in [Section 5 of [RFC4648]](https://www.rfc-editor.org/rfc/rfc4648#section-5), **with padding omitted**.

This seems doable with `Base64.getUrlEncoder().withoutPadding().encodeToString()`

Thinking a bit more about this and I guess create our own Base64 encoder/decoder using internally Base64 from java and adding some configurable check about padding is maybe the better way ?

I didn't implement it but I think a bit about it and it sounds not so hard to implement. 

I think we can create 2 interface.

one for decoding base64 `Base64Decoder` with `decode(String)` and `decode(String)` methods.
and another for encoding `Base64Encoder` with one `encode(byte[])` method.

With default implementation for each ones. `DefaultBase64Decoder` and `DefaultBase64Encoder` both using Base64 from java internally. At creation you could choose using a constructor argument if you want urlsafe encoding or not. Then we can easily add checks for padding if needed.

What do you think ?  

> one for decoding base64 Base64Decoder with decode(String) and decode(String) methods.

I think you meant something else for the second method?


Yep :) I fixed it.

I finished adding some basic implementation as you can see [here](https://github.com/eclipse/leshan/compare/master...JaroslawLegierski:leshan:opl/new_base64_classes?expand=1). Admittedly I don't really know how to add a check for
> rejects 1 bit in padding : ABC= should be rejected (the canonical form is ABA=)

since I don't quite understand how it works exactly. I added a check for encoded string length, but I guess that's not going to be enough.

I also have a broader question related to milestone hotfix topic. This issue was opened since I believed it would be a quick fix and I intended to ask you if it could be included in a little M9-hotfix type of release since we're kind of pressed for time with this bug.

Anyway since the topic evolved into more of a refactor now, I'm not sure if we could be done with it by the end of the week. That's why my request is to have my original PR #1326 be merged into master and perhaps you could do a hotfix release. Later we could implement the refactored encoders/decoders and include them in M10.

> since I don't quite understand how it works exactly. I added a check for encoded string length, but I guess that's not going to be enough.

Adding this kind of check could be done later. not need to add it in first version.

> This issue was opened since I believed it would be a quick fix and I intended to ask you if it could be included in a little M9-hotfix type of release since we're kind of pressed for time with this bug.

Typically for this bug, I'm not sure we will go for an hotfix release.
The 2.0.0 version is branch in development and so I would like to avoid this kind of hotfix release if this is possible.

In this particular case, there is a not so hard workaround which is to implement a custom SenMLEncoder with your fix.
See : `LeshanServerBuilder.setEncoder()` and do something like : 

```java
LeshanServerBuilder builder = new LeshanServerBuilder();

// -------------------------------------------------------------------------------------------------------
// TODO : Remove this workaround when Leshan 2.0.0-M10 will be integrated.
// see : https://github.com/eclipse/leshan/issues/1325
Map<ContentFormat, NodeEncoder> nodeEncoders = DefaultLwM2mEncoder.getDefaultNodeEncoders(false);
nodeEncoders.put(ContentFormat.SENML_JSON, new LwM2mNodeSenMLEncoder(new YourCustomSenMLJsonEncoderDecoder());

DefaultLwM2mEncoder encoder = new DefaultLwM2mEncoder(nodeEncoders, DefaultLwM2mEncoder.getDefaultPathEncoder(), new LwM2mValueChecker());
builder.setEncoder(encoder);
// -------------------------------------------------------------------------------------------------------
```

I feel most of the time  this will be the better process to follow.

- Find a bug
- open an issue and discuss. 
- if issue is confirmed you implement a workaround in your code because this is the faster way to fix the issue. (I can help you to find the workaround)
- then you fix/help to fix  it in upstream. (leshan master)
- then when a release with the fix is ready, remove the workarround. 

WDYT about that ? 

We updated the code a bit, allowing for customizing `withoutPadding` setting, as well as used the new API in `SenMLJsonRecordSerDes`. 

I think this is the idea.

Do you think it's good enough for a PR?

Yep of course, by the way to not hesitate to create the PR even soon in the development process.
If you want to do crappy code for testing, you can create the PR as draft. 

You can maybe reuse #1326 ? 

> You can maybe reuse https://github.com/eclipse/leshan/pull/1326 ?

I did, you can review it 🙂

This is fixed by #1326 and  integrated in `master` should be available in **2.0.0-M10**.

:pray: Thx @adamsero for reporting this and move forward on this topic !

Related OMA issue : https://github.com/OpenMobileAlliance/OMA_LwM2M_for_Developers/issues/553