Opaque value encoded in base64 URL format instead of base64

### Version(s)

2.0.0-SNAPSHOT

### Which components

Leshan bootstrap server demo

### Tested With

Wakaama as client

### What happened

I'm using leshan's bootstrap server demo (https://leshan.eclipseprojects.io/bs/#/bootstrap), I created a client (eseye_bg95) setting x509 as security method and setting the 3 required certificates.

Client cert:
```
30820209308201afa0030201020214032816e7855b0a65e77ee02c1eeca78c3c73b3e7300a06082a8648ce3d040302305a310b30090603550406130241553113301106035504080c0a536f6d652d53746174653121301f060355040a0c18496e7465726e6574205769646769747320507479204c74643113301106035504030c0a65736579655f62673935301e170d3232313131383134343331355a170d3233313131383134343331355a305a310b30090603550406130241553113301106035504080c0a536f6d652d53746174653121301f060355040a0c18496e7465726e6574205769646769747320507479204c74643113301106035504030c0a65736579655f626739353059301306072a8648ce3d020106082a8648ce3d03010703420004c564ebbed91f5940f7f672751c39d2fd337114cd9a07feba7049028a1d9f63b00dc87fbadbb6b185af447153faf0d0c6a73ef63ef8efc0e6355da5bef9506304a3533051301d0603551d0e04160414b50029daf860446f3e5edda1c1398f2bbad98b11301f0603551d23041830168014b50029daf860446f3e5edda1c1398f2bbad98b11300f0603551d130101ff040530030101ff300a06082a8648ce3d040302034800304502203458b32f2ae9d5405e4d7e583cb35419860adc8ade555980aaa5df874ccebb3a022100f7701c824ee8f3f85383f3adf815a9ccf9831e56dfc427347c8a3f6a9167557b
```

Client key:
```
308187020100301306072a8648ce3d020106082a8648ce3d030107046d306b020101042045ee780b7747f05f26db28eeb700fee59cfda84307c96ff222c6b01c251fbb52a14403420004c564ebbed91f5940f7f672751c39d2fd337114cd9a07feba7049028a1d9f63b00dc87fbadbb6b185af447153faf0
```

Server certificate:
```
30820228308201cfa0030201020214467c08c3733498ae06d3eb4c9948f53e19509153300a06082a8648ce3d0403023069310b30090603550406130241553113301106035504080c0a536f6d652d53746174653121301f060355040a0c18496e7465726e6574205769646769747320507479204c74643122302006035504030c196c657368616e2e65636c6970736570726f6a656374732e696f3020170d3231303730393134343431345a180f32313231303631353134343431345a3069310b30090603550406130241553113301106035504080c0a536f6d652d53746174653121301f060355040a0c18496e7465726e6574205769646769747320507479204c74643122302006035504030c196c657368616e2e65636c6970736570726f6a656374732e696f3059301306072a8648ce3d020106082a8648ce3d030107034200044ac3e3d65e8c6176755a4ff22d71b3ce5a5072763c4dd753a9d23ad910eaf6730f50310660a222219d7ec75c8017552b31b38a92019a7e8fd8525fd2ae5a1ed0a3533051301d0603551d0e04160414ecb0a6133178d244093f30f4d965a9759f103a7e301f0603551d23041830168014ecb0a6133178d244093f30f4d965a9759f103a7e300f0603551d130101ff040530030101ff300a06082a8648ce3d040302034700304402206ee229572476c32ef674105dcbdb9703aa1974663bdc71a598999c66f4a0808b0220162abceb99a734b58bc20e501f0111c30bb9857ca88b6d4488060ae8a2fb07de
```

The problem is that during the bootstrap the certificates are sent to me in base64 URL format instead of base64, so my client (Wakaama) fails the parsing and returns error 400 to the server.
According at the OMA specification (https://www.openmobilealliance.org/release/LightweightM2M/V1_2-20201110-A/HTML-Version/OMA-TS-LightweightM2M_Core-V1_2-20201110-A.html#Table-746-1-SenML-JSON-format-and-description), for resources of type Opaque the data should be encoded in base64 format (with SenML JSON data format).

So I was wondering if this is Leshan's problem or I did something wrong with the certificates (or maybe I'm looking in the wrong place in the documentation).

This is what my client received during the bootstrap phase:
```
538 bytes received from [23.97.187.154]:5784
48 03 26 EC  3C 27 82 BD  8C 5E 59 78  B1 30 01 31   H.&.<'...^Yx.0.1
11 6E D1 02  0D D2 14 07  87 FF 5B 7B  22 62 6E 22   .n........[{"bn"
3A 22 2F 30  2F 31 2F 22  2C 22 6E 22  3A 22 30 22   :"/0/1/","n":"0"
2C 22 76 73  22 3A 22 63  6F 61 70 73  3A 2F 2F 6C   ,"vs":"coaps://l
65 73 68 61  6E 2E 65 63  6C 69 70 73  65 70 72 6F   eshan.eclipsepro
6A 65 63 74  73 2E 69 6F  3A 35 36 38  34 22 7D 2C   jects.io:5684"},
7B 22 6E 22  3A 22 31 22  2C 22 76 62  22 3A 66 61   {"n":"1","vb":fa
6C 73 65 7D  2C 7B 22 6E  22 3A 22 32  22 2C 22 76   lse},{"n":"2","v
22 3A 32 7D  2C 7B 22 6E  22 3A 22 33  22 2C 22 76   ":2},{"n":"3","v
64 22 3A 22  4D 49 49 43  43 54 43 43  41 61 2D 67   d":"MIICCTCCAa-g
41 77 49 42  41 67 49 55  41 79 67 57  35 34 56 62   AwIBAgIUAygW54Vb
43 6D 58 6E  66 75 41 73  48 75 79 6E  6A 44 78 7A   CmXnfuAsHuynjDxz
73 2D 63 77  43 67 59 49  4B 6F 5A 49  7A 6A 30 45   s-cwCgYIKoZIzj0E
41 77 49 77  57 6A 45 4C  4D 41 6B 47  41 31 55 45   AwIwWjELMAkGA1UE
42 68 4D 43  51 56 55 78  45 7A 41 52  42 67 4E 56   BhMCQVUxEzARBgNV
42 41 67 4D  43 6C 4E 76  62 57 55 74  55 33 52 68   BAgMClNvbWUtU3Rh
64 47 55 78  49 54 41 66  42 67 4E 56  42 41 6F 4D   dGUxITAfBgNVBAoM
47 45 6C 75  64 47 56 79  62 6D 56 30  49 46 64 70   GEludGVybmV0IFdp
5A 47 64 70  64 48 4D 67  55 48 52 35  49 45 78 30   ZGdpdHMgUHR5IEx0
5A 44 45 54  4D 42 45 47  41 31 55 45  41 77 77 4B   ZDETMBEGA1UEAwwK
5A 58 4E 6C  65 57 56 66  59 6D 63 35  4E 54 41 65   ZXNleWVfYmc5NTAe
46 77 30 79  4D 6A 45 78  4D 54 67 78  4E 44 51 7A   Fw0yMjExMTgxNDQz
4D 54 56 61  46 77 30 79  4D 7A 45 78  4D 54 67 78   MTVaFw0yMzExMTgx
4E 44 51 7A  4D 54 56 61  4D 46 6F 78  43 7A 41 4A   NDQzMTVaMFoxCzAJ
42 67 4E 56  42 41 59 54  41 6B 46 56  4D 52 4D 77   BgNVBAYTAkFVMRMw
45 51 59 44  56 51 51 49  44 41 70 54  62 32 31 6C   EQYDVQQIDApTb21l
4C 56 4E 30  59 58 52 6C  4D 53 45 77  48 77 59 44   LVN0YXRlMSEwHwYD
56 51 51 4B  44 42 68 4A  62 6E 52 6C  63 6D 35 6C   VQQKDBhJbnRlcm5l
64 43 42 58  61 57 52 6E  61 58 52 7A  49 46 42 30   dCBXaWRnaXRzIFB0
65 53 42 4D  64 47 51 78  45 7A 41 52  42 67 4E 56   eSBMdGQxEzARBgNV
42 41 4D 4D  43 6D 56 7A  5A 58 6C 6C  58 32 4A 6E   BAMMCmVzZXllX2Jn
4F 54 55 77  57 54 41 54  42 67 63 71  68 6B 6A 4F   OTUwWTATBgcqhkjO
50 51 49 42  42 67 67 71  68 6B 6A 4F  50 51 4D 42   PQIBBggqhkjOPQMB
42 77 4E 43  41 41 54 46  5A 4F                      BwNCAATFZO

534 bytes received from [23.97.187.154]:5784
48 03 26 ED  00 B5 3D C1  6C 02 60 05  B1 30 01 31   H.&...=.l.`..0.1
11 6E D1 02  1D FF 75 2D  32 52 39 5A  51 50 66 32   .n....u-2R9ZQPf2
63 6E 55 63  4F 64 4C 39  4D 33 45 55  7A 5A 6F 48   cnUcOdL9M3EUzZoH
5F 72 70 77  53 51 4B 4B  48 5A 39 6A  73 41 33 49   _rpwSQKKHZ9jsA3I
66 37 72 62  74 72 47 46  72 30 52 78  55 5F 72 77   f7rbtrGFr0RxU_rw
30 4D 61 6E  50 76 59 2D  2D 4F 5F 41  35 6A 56 64   0ManPvY--O_A5jVd
70 62 37 35  55 47 4D 45  6F 31 4D 77  55 54 41 64   pb75UGMEo1MwUTAd
42 67 4E 56  48 51 34 45  46 67 51 55  74 51 41 70   BgNVHQ4EFgQUtQAp
32 76 68 67  52 47 38 2D  58 74 32 68  77 54 6D 50   2vhgRG8-Xt2hwTmP
4B 37 72 5A  69 78 45 77  48 77 59 44  56 52 30 6A   K7rZixEwHwYDVR0j
42 42 67 77  46 6F 41 55  74 51 41 70  32 76 68 67   BBgwFoAUtQAp2vhg
52 47 38 2D  58 74 32 68  77 54 6D 50  4B 37 72 5A   RG8-Xt2hwTmPK7rZ
69 78 45 77  44 77 59 44  56 52 30 54  41 51 48 5F   ixEwDwYDVR0TAQH_
42 41 55 77  41 77 45 42  5F 7A 41 4B  42 67 67 71   BAUwAwEB_zAKBggq
68 6B 6A 4F  50 51 51 44  41 67 4E 49  41 44 42 46   hkjOPQQDAgNIADBF
41 69 41 30  57 4C 4D 76  4B 75 6E 56  51 46 35 4E   AiA0WLMvKunVQF5N
66 6C 67 38  73 31 51 5A  68 67 72 63  69 74 35 56   flg8s1QZhgrcit5V
57 59 43 71  70 64 2D 48  54 4D 36 37  4F 67 49 68   WYCqpd-HTM67OgIh
41 50 64 77  48 49 4A 4F  36 50 50 34  55 34 50 7A   APdwHIJO6PP4U4Pz
72 66 67 56  71 63 7A 35  67 78 35 57  33 38 51 6E   rfgVqcz5gx5W38Qn
4E 48 79 4B  50 32 71 52  5A 31 56 37  22 7D 2C 7B   NHyKP2qRZ1V7"},{
22 6E 22 3A  22 34 22 2C  22 76 64 22  3A 22 4D 49   "n":"4","vd":"MI
49 43 4B 44  43 43 41 63  2D 67 41 77  49 42 41 67   ICKDCCAc-gAwIBAg
49 55 52 6E  77 49 77 33  4D 30 6D 4B  34 47 30 2D   IURnwIw3M0mK4G0-
74 4D 6D 55  6A 31 50 68  6C 51 6B 56  4D 77 43 67   tMmUj1PhlQkVMwCg
59 49 4B 6F  5A 49 7A 6A  30 45 41 77  49 77 61 54   YIKoZIzj0EAwIwaT
45 4C 4D 41  6B 47 41 31  55 45 42 68  4D 43 51 56   ELMAkGA1UEBhMCQV
55 78 45 7A  41 52 42 67  4E 56 42 41  67 4D 43 6C   UxEzARBgNVBAgMCl
4E 76 62 57  55 74 55 33  52 68 64 47  55 78 49 54   NvbWUtU3RhdGUxIT
41 66 42 67  4E 56 42 41  6F 4D 47 45  6C 75 64 47   AfBgNVBAoMGEludG
56 79 62 6D  56 30 49 46  64 70 5A 47  64 70 64 48   VybmV0IFdpZGdpdH
4D 67 55 48  52 35 49 45  78 30 5A 44  45 69 4D 43   MgUHR5IEx0ZDEiMC
41 47 41 31  55 45 41 77  77 5A 62 47  56 7A 61 47   AGA1UEAwwZbGVzaG
46 75 4C 6D  56 6A                                   FuLmVj

534 bytes received from [23.97.187.154]:5784
48 03 26 EE  C0 50 36 62  E7 1F 37 95  B1 30 01 31   H.&..P6b..7..0.1
11 6E D1 02  2D FF 62 47  6C 77 63 32  56 77 63 6D   .n..-.bGlwc2Vwcm
39 71 5A 57  4E 30 63 79  35 70 62 7A  41 67 46 77   9qZWN0cy5pbzAgFw
30 79 4D 54  41 33 4D 44  6B 78 4E 44  51 30 4D 54   0yMTA3MDkxNDQ0MT
52 61 47 41  38 79 4D 54  49 78 4D 44  59 78 4E 54   RaGA8yMTIxMDYxNT
45 30 4E 44  51 78 4E 46  6F 77 61 54  45 4C 4D 41   E0NDQxNFowaTELMA
6B 47 41 31  55 45 42 68  4D 43 51 56  55 78 45 7A   kGA1UEBhMCQVUxEz
41 52 42 67  4E 56 42 41  67 4D 43 6C  4E 76 62 57   ARBgNVBAgMClNvbW
55 74 55 33  52 68 64 47  55 78 49 54  41 66 42 67   UtU3RhdGUxITAfBg
4E 56 42 41  6F 4D 47 45  6C 75 64 47  56 79 62 6D   NVBAoMGEludGVybm
56 30 49 46  64 70 5A 47  64 70 64 48  4D 67 55 48   V0IFdpZGdpdHMgUH
52 35 49 45  78 30 5A 44  45 69 4D 43  41 47 41 31   R5IEx0ZDEiMCAGA1
55 45 41 77  77 5A 62 47  56 7A 61 47  46 75 4C 6D   UEAwwZbGVzaGFuLm
56 6A 62 47  6C 77 63 32  56 77 63 6D  39 71 5A 57   VjbGlwc2Vwcm9qZW
4E 30 63 79  35 70 62 7A  42 5A 4D 42  4D 47 42 79   N0cy5pbzBZMBMGBy
71 47 53 4D  34 39 41 67  45 47 43 43  71 47 53 4D   qGSM49AgEGCCqGSM
34 39 41 77  45 48 41 30  49 41 42 45  72 44 34 39   49AwEHA0IABErD49
5A 65 6A 47  46 32 64 56  70 50 38 69  31 78 73 38   ZejGF2dVpP8i1xs8
35 61 55 48  4A 32 50 45  33 58 55 36  6E 53 4F 74   5aUHJ2PE3XU6nSOt
6B 51 36 76  5A 7A 44 31  41 78 42 6D  43 69 49 69   kQ6vZzD1AxBmCiIi
47 64 66 73  64 63 67 42  64 56 4B 7A  47 7A 69 70   GdfsdcgBdVKzGzip
49 42 6D 6E  36 50 32 46  4A 66 30 71  35 61 48 74   IBmn6P2FJf0q5aHt
43 6A 55 7A  42 52 4D 42  30 47 41 31  55 64 44 67   CjUzBRMB0GA1UdDg
51 57 42 42  54 73 73 4B  59 54 4D 58  6A 53 52 41   QWBBTssKYTMXjSRA
6B 5F 4D 50  54 5A 5A 61  6C 31 6E 78  41 36 66 6A   k_MPTZZal1nxA6fj
41 66 42 67  4E 56 48 53  4D 45 47 44  41 57 67 42   AfBgNVHSMEGDAWgB
54 73 73 4B  59 54 4D 58  6A 53 52 41  6B 5F 4D 50   TssKYTMXjSRAk_MP
54 5A 5A 61  6C 31 6E 78  41 36 66 6A  41 50 42 67   TZZal1nxA6fjAPBg
4E 56 48 52  4D 42 41 66  38 45 42 54  41 44 41 51   NVHRMBAf8EBTADAQ
48 5F 4D 41  6F 47 43 43  71 47 53 4D  34 39 42 41   H_MAoGCCqGSM49BA
4D 43 41 30  63 41 4D 45  51 43 49 47  37 69 4B 56   MCA0cAMEQCIG7iKV
63 6B 64 73  4D 75 39 6E  51 51 58 63  76 62 6C 77   ckdsMu9nQQXcvblw
4F 71 47 58  52 6D 4F 39  78 78 70 5A  69 5A 6E 47   OqGXRmO9xxpZiZnG
62 30 6F 49  43 4C                                   b0oICL

413 bytes received from [23.97.187.154]:5784
48 03 26 EF  2C 9E 0A 28  8A D8 29 6C  B1 30 01 31   H.&.,..(..)l.0.1
11 6E D1 02  35 FF 41 69  41 57 4B 72  7A 72 6D 61   .n..5.AiAWKrzrma
63 30 74 59  76 43 44 6C  41 66 41 52  48 44 43 37   c0tYvCDlAfARHDC7
6D 46 66 4B  69 4C 62 55  53 49 42 67  72 6F 6F 76   mFfKiLbUSIBgroov
73 48 33 67  22 7D 2C 7B  22 6E 22 3A  22 35 22 2C   sH3g"},{"n":"5",
22 76 64 22  3A 22 4D 49  47 48 41 67  45 41 4D 42   "vd":"MIGHAgEAMB
4D 47 42 79  71 47 53 4D  34 39 41 67  45 47 43 43   MGByqGSM49AgEGCC
71 47 53 4D  34 39 41 77  45 48 42 47  30 77 61 77   qGSM49AwEHBG0waw
49 42 41 51  51 67 52 65  35 34 43 33  64 48 38 46   IBAQQgRe54C3dH8F
38 6D 32 79  6A 75 74 77  44 2D 35 5A  7A 39 71 45   8m2yjutwD-5Zz9qE
4D 48 79 57  5F 79 49 73  61 77 48 43  55 66 75 31   MHyW_yIsawHCUfu1
4B 68 52 41  4E 43 41 41  54 46 5A 4F  75 2D 32 52   KhRANCAATFZOu-2R
39 5A 51 50  66 32 63 6E  55 63 4F 64  4C 39 4D 33   9ZQPf2cnUcOdL9M3
45 55 7A 5A  6F 48 5F 72  70 77 53 51  4B 4B 48 5A   EUzZoH_rpwSQKKHZ
39 6A 73 41  33 49 66 37  72 62 74 72  47 46 72 30   9jsA3If7rbtrGFr0
52 78 55 5F  72 77 30 4D  61 6E 50 76  59 2D 2D 4F   RxU_rw0ManPvY--O
5F 41 35 6A  56 64 70 62  37 35 55 47  4D 45 22 7D   _A5jVdpb75UGME"}
2C 7B 22 6E  22 3A 22 36  22 2C 22 76  22 3A 33 7D   ,{"n":"6","v":3}
2C 7B 22 6E  22 3A 22 37  22 2C 22 76  64 22 3A 22   ,{"n":"7","vd":"
22 7D 2C 7B  22 6E 22 3A  22 38 22 2C  22 76 64 22   "},{"n":"8","vd"
3A 22 22 7D  2C 7B 22 6E  22 3A 22 39  22 2C 22 76   :""},{"n":"9","v
73 22 3A 22  22 7D 2C 7B  22 6E 22 3A  22 31 30 22   s":""},{"n":"10"
2C 22 76 22  3A 31 32 33  7D 2C 7B 22  6E 22 3A 22   ,"v":123},{"n":"
31 31 22 2C  22 76 22 3A  31 7D 2C 7B  22 6E 22 3A   11","v":1},{"n":
22 31 32 22  2C 22 76 22  3A 30 7D 2C  7B 22 6E 22   "12","v":0},{"n"
3A 22 31 35  22 2C 22 76  22 3A 33 7D  5D            :"15","v":3}]
```

Payload:
```
[{"bn":"/0/1/","n":"0","vs":"coaps://leshan.eclipseprojects.io:5684"},{"n":"1","vb":false},{"n":"2","v":2},{"n":"3","vd":"MIICCTCCAa-gAwIBAgIUAygW54VbCmXnfuAsHuynjDxzs-cwCgYIKoZIzj0EAwIwWjELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoMGEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDETMBEGA1UEAwwKZXNleWVfYmc5NTAeFw0yMjExMTgxNDQzMTVaFw0yMzExMTgxNDQzMTVaMFoxCzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBMdGQxEzARBgNVBAMMCmVzZXllX2JnOTUwWTATBgcqhkjOPQIBBggqhkjOPQMBBwNCAATFZOu-2R9ZQPf2cnUcOdL9M3EUzZoH_rpwSQKKHZ9jsA3If7rbtrGFr0RxU_rw0ManPvY--O_A5jVdpb75UGMEo1MwUTAdBgNVHQ4EFgQUtQAp2vhgRG8-Xt2hwTmPK7rZixEwHwYDVR0jBBgwFoAUtQAp2vhgRG8-Xt2hwTmPK7rZixEwDwYDVR0TAQH_BAUwAwEB_zAKBggqhkjOPQQDAgNIADBFAiA0WLMvKunVQF5Nflg8s1QZhgrcit5VWYCqpd-HTM67OgIhAPdwHIJO6PP4U4PzrfgVqcz5gx5W38QnNHyKP2qRZ1V7"},{"n":"4","vd":"MIICKDCCAc-gAwIBAgIURnwIw3M0mK4G0-tMmUj1PhlQkVMwCgYIKoZIzj0EAwIwaTELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoMGEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDEiMCAGA1UEAwwZbGVzaGFuLmVjbGlwc2Vwcm9qZWN0cy5pbzAgFw0yMTA3MDkxNDQ0MTRaGA8yMTIxMDYxNTE0NDQxNFowaTELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoMGEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDEiMCAGA1UEAwwZbGVzaGFuLmVjbGlwc2Vwcm9qZWN0cy5pbzBZMBMGByqGSM49AgEGCCqGSM49AwEHA0IABErD49ZejGF2dVpP8i1xs85aUHJ2PE3XU6nSOtkQ6vZzD1AxBmCiIiGdfsdcgBdVKzGzipIBmn6P2FJf0q5aHtCjUzBRMB0GA1UdDgQWBBTssKYTMXjSRAk_MPTZZal1nxA6fjAfBgNVHSMEGDAWgBTssKYTMXjSRAk_MPTZZal1nxA6fjAPBgNVHRMBAf8EBTADAQH_MAoGCCqGSM49BAMCA0cAMEQCIG7iKVckdsMu9nQQXcvblwOqGXRmO9xxpZiZnGb0oICLAiAWKrzrmac0tYvCDlAfARHDC7mFfKiLbUSIBgroovsH3g"},{"n":"5","vd":"MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgRe54C3dH8F8m2yjutwD-5Zz9qEMHyW_yIsawHCUfu1KhRANCAATFZOu-2R9ZQPf2cnUcOdL9M3EUzZoH_rpwSQKKHZ9jsA3If7rbtrGFr0RxU_rw0ManPvY--O_A5jVdpb75UGME"},{"n":"6","v":3},{"n":"7","vd":""},{"n":"8","vd":""},{"n":"9","vs":""},{"n":"10","v":123},{"n":"11","v":1},{"n":"12","v":0},{"n":"15","v":3}]
```

### How to reproduce

_No response_

### Relevant Output

_No response_

> According at the OMA specification (https://www.openmobilealliance.org/release/LightweightM2M/V1_2-20201110-A/HTML-Version/OMA-TS-LightweightM2M_Core-V1_2-20201110-A.html#Table-746-1-SenML-JSON-format-and-description), for resources of type Opaque the data should be encoded in base64 format (with SenML JSON data format).

The specification is confusing but SenML JSON is defined at [RFC8428§4.3- SenML Labels](https://www.rfc-editor.org/rfc/rfc8428#section-4.3) and url safe alphabet must be used for Data Value `vd`: 
_"(*) Data Value is a base64-encoded string with the URL-safe alphabet as defined in [Section 5 of [RFC4648]](https://www.rfc-editor.org/rfc/rfc4648#section-5), with padding omitted.  (In CBOR, the octets in the Data Value are encoded using a definite-length byte string, major type 2.)"_  
   
>  So I was wondering if this is Leshan's problem or I did something wrong with the certificates (or maybe I'm looking in the wrong place in the documentation).

I guess this is rather a Wakaama problem. On our side we discover that bug recently : See https://github.com/eclipse/leshan/issues/1325. 
If you agree with that :point_up:, I will change label from `bug` to `question` ?

If I'm right, the mid/long term solution is to open, then fix the issue on Wakaama repository.
Let me know if you need a short term workaround.

Interesting, I was wondering why on OMA specification they said base64 and on RFC specification they said base64 URL, am I looking in the wrong place in the documentation?

In the Wakaama library I can only see function to encode/decode from base64 format, I guess I'll have to implement it.
utils.c
```
utils_base64GetSize(...)
utils_base64Encode(...)
utils_base64GetDecodedSize(...)
prv_base64Value(...)
utils_base64Decode(...)
```

Anyway, yes please change from `bug` to `question`.

> Interesting, I was wondering why on OMA specification they said base64 and on RFC specification they said base64 URL, am I looking in the wrong place in the documentation?

I think you look at right place. The specification is not really false because this should really encoded in Base64 but they don't precise the alphabet to use (neither that padding MUST be omitted). So this is confusing maybe we can try to open an OMA issue to try to make the specification clearer. 

> In the Wakaama library I can only see functions to encode/decode from base64 format, I guess I'll have to implement it.
utils.c

About base64 in general, there is 2 point about base64 : 
1. alphabet to use 
2. if there is padding or not. 

See our Base64 API in Leshan : 
https://github.com/eclipse/leshan/blob/be7963221c56153daf4ca977058e34d0a9ed4fdd/leshan-core/src/main/java/org/eclipse/leshan/core/util/base64/DefaultBase64Encoder.java#L19-L31

https://github.com/eclipse/leshan/blob/be7963221c56153daf4ca977058e34d0a9ed4fdd/leshan-core/src/main/java/org/eclipse/leshan/core/util/base64/DefaultBase64Decoder.java#L19-L35

I think you already asked some clarification about this on OMA GitHub page:
https://github.com/OpenMobileAlliance/OMA_LwM2M_for_Developers/issues/553

It seems they only fixed the table [LWM2M-v1.2@core§Table-C2-Data-Type-Mapping](http://www.openmobilealliance.org/release/LightweightM2M/V1_2-20201110-A/HTML-Version/OMA-TS-LightweightM2M_Core-V1_2-20201110-A.html#Table-C-2-Data-Type-Mapping), and forgot about [LWM2M-v1.2@core§Table-746-1-SenML-JSON-format-and-description](http://www.openmobilealliance.org/release/LightweightM2M/V1_2-20201110-A/HTML-Version/OMA-TS-LightweightM2M_Core-V1_2-20201110-A.html#Table-746-1-SenML-JSON-format-and-description), if you think I'm right I can open an OMA issue.

I forgot that. :sweat_smile: 
Thx for finding it. 

Should we close this issue ?

I'll close this, and I'll try to ask some clarification to OMA about Table 746-1

I reopen this thread because I have a doubt about the OMA specifications.
Up to LwM2M v1.1 in this section [LWM2M-v1.1@core§7-4-4-0-744-JSON](https://openmobilealliance.org/release/LightweightM2M/V1_1-20180710-A/HTML-Version/OMA-TS-LightweightM2M_Core-V1_1-20180710-A.html#7-4-4-0-744-JSON) the spec says that:
> When a LwM2M Client is supporting the JSON data format and the format is used to transport Object Instance(s), multiple resource and single resource values for both "Read" and "Write" operations, JSON payload MUST use the format defined in this section. This format MAY be used also for transporting a single value of a Resource.
> 
> The format MUST comply to [SENML] JSON representation extended for supporting LwM2M Object Link data type and MUST support all attributes defined in [Table: 7.4.4.-1 JSON format and description](https://openmobilealliance.org/release/LightweightM2M/V1_1-20180710-A/HTML-Version/OMA-TS-LightweightM2M_Core-V1_1-20180710-A.html#Table-744-1-JSON-format-and-description).

Note that after version 1.1 this section has been changed to [LWM2M-v1.2@core§7-4-6-0-746-SenML-JSON](https://www.openmobilealliance.org/release/LightweightM2M/V1_2-20201110-A/HTML-Version/OMA-TS-LightweightM2M_Core-V1_2-20201110-A.html#7-4-6-0-746-SenML-JSON)

So my question is: how should opaque resources sent via JSON (not SenML JSON) be encoded?
In **Base64 with padding** or **Base64 URL without padding**?
According to specification 1.1 "_The format MUST comply to [SENML] JSON representation_", which should mean that opaque resources should be encoded in base64 URL (no padding) format?
Because I noticed that the Leshan demo server uses Base64 (with padding) format for opaque resource over JSON.

Is this behavior correct?

We pretty agree on `SENML-JSON`, right? 
And we are now talking about `Old/Legacy JSON` format ?

I understand your confusion.
This is not totally clear to me too.
I will try to explain why I think this is **probably**  `Base64 with padding`.

#### Some history about "Legacy JSON format.
The "old" JSON format was introduced in [LWM2M v1.0.x](https://github.com/eclipse/leshan/wiki/Lightweight-M2M-Specification#lightweight-m2m-v10x).
At this time SENML was still a draft. All version of  LWM2M v1.0.x (_in §2.1 Normative References_)  refers to :  
> [SENML] C. Jennings, Z. Shelby, J. Arkko, “Media Types for Sensor Markup Language (SENML)”, [draft-jennings-
senml-10](https://datatracker.ietf.org/doc/html/draft-jennings-senml-10) (work in progress), April 2013  

[In this draft, `vd`  senML label is not even defined and Base64 word is not used.](https://datatracker.ietf.org/doc/html/draft-jennings-senml-10#section-6) 
So the only way to know format used for opaque is to look at  LWM2M specification and in [LWM2M-v1.0.2§Table 22: JSON format and description](https://www.openmobilealliance.org/release/LightweightM2M/V1_0_2-20180209-A/OMA-TS-LightweightM2M-V1_0_2-20180209-A.pdf) you can read for `sv` label  : 
> Value as a JSON string for all other Resource data types. If the Resource data type is opaque the string value holds the Base64 encoded representation of the Resource.

As nothing is specified about alphabet or padding, I guess this is default one : `Base64 with padding` ? 
(See https://github.com/OpenMobileAlliance/OMA_LwM2M_for_Developers/issues/553#issuecomment-1588845158)

#### This sounds contradictory with what you find in LWM2M specification :
I think that you maybe did a mistake [the chapter](https://www.openmobilealliance.org/release/LightweightM2M/V1_1_1-20190617-A/HTML-Version/OMA-TS-LightweightM2M_Core-V1_1_1-20190617-A.html#7-4-5-0-745-SenML-JSON) you refer is about SenML-JSON not Legacy JSON. In this chapter you can find : 
> The [LwM2M-TS_1.0] defined the format for application/vnd.oma.lwm2m+json based on an early draft version of SenML. The LwM2M TS 1.1 aligns the JSON format with the final version of the SenML specification.

There is [dedicated Chapter for Old/Legacy JSON](https://www.openmobilealliance.org/release/LightweightM2M/V1_1_1-20190617-A/HTML-Version/OMA-TS-LightweightM2M_Core-V1_1_1-20190617-A.html#7-4-5-1-0-7451-LwM2M-TS-10-JSON-format) which says : 
> The JSON format used by the LwM2M TS 1.0 with media type application/vnd.oma.lwm2m+json is formally defined in [LwM2M-TS_1.0]. 

So we go back to explanation just above :point_up: 

Let me know if you find something wrong in this explanation ? 



Thanks for this complete explanation, and looking through all these specs.
I understand your point, also I think the OMA specification probably means the `Base64 with padding`.

You're welcome.

Should we close the issue ?

I'll close, thanks.